<html lang="en">
	<%- include('./partials/head.ejs') %>

	<body>
		<div class="container">
			<div class="image">
				<div class="information">
					<form action="">
						<label for="fname">Username</label>
						<input type="text" id="fname" name="fname" />
						<label for="lname">Password</label>
						<input type="password" id="pass" name="password" />
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
