<html lang="en">
	<%- include('./partials/head.ejs') %>

	<body>
		<div class="container">
			<div class="image"></div>
			<div class="information">
				<form action="">
					<label for="fname">Username</label>
					<input type="text" id="fname" name="fname" />
					<br />
					<label for="lname">Password</label>
					<input type="password" id="pass" name="password" />
					<br />
					<input type="checkbox" name="remember" id="rem" />
				</form>
				<button type="submit">Sign in</button>
			</div>
		</div>
	</body>
</html>
