<html lang="en">
	<%- include('./partials/head.ejs') %>

	<body>
		<div class="container">
			<div class="image"></div>
			<div class="information">
				<form action="">
					<input
						type="text"
						required
						autocomplete="off"
						id="fname"
						name="fname"
					/>
					<label for="Uname" class="username"
						><span class="content-name">Username</span>
					</label>
					<br />
					<input type="password" id="pass" required name="password" />
					<label for="password" class="password"
						><span class="password">Password</span>
					</label>
					<br />
					<input type="checkbox" name="remember" id="rem" />
				</form>
				<button type="submit">Sign in</button>
			</div>
		</div>
	</body>
</html>
