<html lang="en">
	<%- include('./partials/head.ejs') %>

	<body>
		<nav>
			<ul>
				<li><a href="/login">Log in</a></li>
			</ul>
		</nav>

		<div class="container">
			<div class="image"></div>
			<div class="information">
				<form action="">
					<label for="fname">First name</label>
					<input type="text" id="fname" name="fname" />
					<label for="lname">Last name</label>
					<input type="text" id="lname" name="lname" />
					<label for="state">state</label><br />
					<input type="text" id="state" name="state" />
					<label for="country">country</label>
					<input type="text" id="country" name="country" />
					<label for="email">email</label>
					<input type="email" id="email" name="email" />
					<label for="lname">Password</label>
					<input type="password" id="pass" name="password" />
				</form>
			</div>
		</div>
	</body>
</html>
