<html lang="en">
	<%- include('./partials/head.ejs') %>

	<body>
		<nav>
			<ul>
				<li><a href="/login">Log in</a></li>
			</ul>
		</nav>

		<div class="container">
			<div class="image"></div>
			<div class="information">
				<form action="" class="form">
					<div class="form_div">
						<input
							type="text"
							required
							autocomplete="off"
							id="fname"
							class="form_input"
							name="fname"
							placeholder=" "
						/>
						<label for="Uname" class="form_label"
							><span class="content-name">First Name</span>
						</label>
					</div>
					<div class="form_div">
						<input
							type="text"
							required
							autocomplete="off"
							id="fname"
							class="form_input"
							name="fname"
							placeholder=" "
						/>
						<label for="Uname" class="form_label"
							><span class="content-name">Last Name</span>
						</label>
					</div>
					<div class="form_div">
						<input
							type="text"
							required
							autocomplete="off"
							id="fname"
							class="form_input"
							name="fname"
							placeholder=" "
						/>
						<label for="Uname" class="form_label"
							><span class="content-name">Country</span>
						</label>
					</div>
					<div class="form_div">
						<input
							type="email"
							required
							autocomplete="off"
							id="fname"
							class="form_input"
							name="fname"
							placeholder=" "
						/>
						<label for="Uname" class="form_label"
							><span class="content-name">Email</span>
						</label>
					</div>
					<div class="form_div">
						<input
							type="password"
							id="pass"
							class="form_input"
							required
							name="password"
							placeholder=" "
						/>
						<label for="password" class="form_label"
							><span class="password">Password</span>
						</label>
					</div>
					<input type="checkbox" name="remember" id="rem" />
					<input type="submit" class="form_button" value="Login" />
				</form>
			</div>
		</div>
	</body>
</html>
