<html lang="en">
	<%- include('./partials/head.ejs') %>

	<body>
		<nav>
			<ul>
				<li><a href="/login">Log in</a></li>
			</ul>
		</nav>

		<div class="container">
			<div class="image"></div>
			<div class="information">
				<form action="">
					<label for="fname">First name</label>
					<input
						type="text"
						id="fname"
						autocomplete="off"
						required
						name="fname"
					/>
					<label for="lname">Last name</label>
					<input
						type="text"
						id="lname"
						required
						autocomplete="off"
						name="lname"
					/><br />
					<label for="state">state</label>
					<input type="text" id="state" name="state" />
					<label for="country">country</label>
					<input type="text" id="country" name="country" /><br />
					<label for="email">email</label>
					<input type="email" id="email" required name="email" /><br />
					<label for="password">Password</label>
					<input type="password" id="pass" required name="password" />
					<br />
					<input type="checkbox" name="remember" id="rem" />
				</form>
				<button type="submit">Sign Up</button>
			</div>
		</div>
	</body>
</html>
