<html lang="en">
	<%- include("../partials/head.ejs") %>

	<body>
		<% if (blogs.length > 0) { %> <% blogs.forEach(blog => { %>
		<h1><%= blog %></h1>
		<% }) %> <% } else { %>
		<p>There are no blogs to display...</p>
		<% } %>
	</body>
</html>
